<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ mymonth|title }} challenge</title>
  </head>
  <body>
    <h1>This is this {{ mymonth }}'s challenge</h1>
    <!-- <h2>It is to complete Django</h2> -->
    <!-- <h3>come early to office rather than late</h3> -->
    <h2>{{ text }}</h2>
  </body>
</html> {% endcomment %}
{% comment %} {% extends 'base.html' %}

{% block page_title %}
  {{ mymonth|title }} challenge
{% endblock %}

{% block content %}
  <h1>This is this {{ mymonth }}'s challenge</h1>
  {% if text is not None %}
    <h2>{{ text }}</h2>
  {% else %}
    <p>There is no challenge set for this month yet!!</p>
  {% endif %}
{% endblock %} {% endcomment %}
