{% extends 'base.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block css_files%}
{% comment %} <link rel = "stylesheet" href = "{% static 'challenges/challenges.css'%}"> {% endcomment %}
{%endblock%}

{% block page_title %}
  All challenges
{% endblock %}


{% block content %}
{% include 'challenges/includes/header.html' with active_page="index" %}
  <ul>
    {% for month in list_of_months %}
      <li>
        <a href="{% url 'apple_potato' month %}">{{ month|title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
