{% extends 'reviews/base.html'%}

{% block title %} Your Review {% endblock %}

{% block content %}
<form method = "post">
    {% if invalid_form %}
        <p>Please enter a valid form</p>
    {% endif %}
    {% csrf_token %}
     <label for = "username">Your Name: </label>
    <input type = "text" name = "username" id = "username">
     
    {{ form }}
    <button>Send</button>
</form>
{% endblock %}





















{% comment  %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Review</title>
    <link rel = "stylesheet" href = {% static 'reviews/rire.css'%}>
</head>
<body>
    <form method = "post">
        {% comment %} {% if invalid_form %}
            <p>Please enter a valid form</p>
        {% endif %} {% endcomment %}
        {% comment %}
        {% csrf_token %}
         <label for = "username">Your Name: </label>
        <input type = "text" name = "username" id = "username">
         
        {{ form }}
        <button>Send</button>

    </form>
</body>
</html>
</html>
{% endcomment %}