h1,
h2 {
    text-align: center;
    color:rgb(242, 104, 104)
}

h1{
    font-size: 1.5rem ;
    margin: 2rem 0 1rem 0;;
    font-weight: normal;
    color: greenyellow 
}

h2{
    font-size: 3rem;
    font-weight: bold;
}

p{
    text-align: center;
    color:rgb(242, 104, 104);
    font-size: 3rem;
    font-weight: bold;
}